/* 倍 */
.section-features.bts-show .tile-chip .badge .badge-value .badge-unit {
	font-size: 24px;
	position: absolute;
	display: inline-block;
	margin-top: 6px;
	margin-left: 2px;
	padding: 0px;
}

/* HL */
.section-features.bts-show .tile-apps .copy-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 420px;
    padding-left: 12px; 
    padding-right: 12px;
}
@media only screen and (max-width: 1068px) {
	.section-features.bts-show .tile-apps .copy-wrapper {
		padding-top: 392px;
	}
    .section-features.bts-show .tile-icloud .copy-wrapper {
        max-width: 350px;
    }
}
@media only screen and (max-width: 1010px) {
	.section-features.bts-show .tile-icloud .copy-wrapper {
		margin-left: auto;
	}
}
/* @media only screen and (max-width: 810px) {
	.section-features.bts-show .tile-icloud .copy-wrapper {
        margin-left: 8px;
    }
} */
/* @media only screen and (max-width: 807px) {
	.section-features.bts-show .tile-icloud .copy-wrapper {
        margin-left: 4px;
    }
} */
@media only screen and (max-width: 734px) {
	/* .section-features.bts-show .tile-icloud .copy-wrapper {
		margin-left: 20px;
	} */
	.section-compare .product-copy {
		margin-left: 0;
	}
	.section-features.bts-show .tile-apps .copy-wrapper {
		padding-top: 304px;
	}
	.section-features.bts-show .tile-migration .migration-wrapper .typography-migration-headline-elevated {
		margin-left: 0;
	}
}
@media only screen and (max-width: 320px) {
	.section-features.bts-show .tile-icloud .copy-wrapper {
		margin-left: -16px;
	}
}

/*font-weight change to 600*/
.typography-design-headline, .typography-iphone-headline, .typography-migration-headline, .typography-migration-headline-elevated, .typography-apps-headline, .typography-icloud-headline, .typography-battery-headline, .typography-chip-headline, .typography-chip-headline-elevated, .typography-chip-badge-value, .typography-security-headline, .typography-touch-id-headline, .typography-durability-headline, .typography-macos-eyebrow, .typography-macos-headline, .typography-continuity-headline, .typography-support-headline, .typography-footer-headline, strong, .section-hero strong, .typography-tile-back-headline, .section-features.bts-show .tile-chip .badge .badge-value, .section-footer-gallery .paddlenav ul button.paddlenav-arrow, .typography-tile-back-subhead, .typography-hero-headline, .typography-battery-stat, typography-battery-stat-elevated, .typography-battery-stat-elevated {
	font-weight: 600;
}


/** financing icon **/
.section-ways-to-buy .overview-icon-financing {
    display: block;
    width: var(--p-width);
    height: var(--p-height);
    --p-width: 49px;
    --p-height:43px
}

.section-features.bts-show .tile-chip .tile-overlay-scroll-content.cn_alt_center {
	display: flex;
    justify-content: center;
    align-items: center;
}

.section-features.bts-show .tile-chip .tile-overlay-scroll-content.cn_alt_center .copy-content {
    flex-basis: 80%;
    max-width: 760px;
}
/*斜体*/
.section-features.bts-show .theme-light strong,.section-features.bts-show .tile-light strong,.section-features.bts-show .theme-dark strong,.section-features.bts-show .tile-dark strong,.section-features.bts-show .theme-light strong .nowrap,.section-features.bts-show .tile-light strong .nowrap,.section-features.bts-show .theme-dark strong .nowrap,.section-features.bts-show .tile-dark strong .nowrap {
    font-synthesis: style;
    /* font-style: italic; */
}
.section-hero .strong-inline-block.strong-align strong{
    font-synthesis: none;
}

/*Art*/
.section-features.bts-show .tile-icloud .copy {
    margin-bottom:10px;
}
@media only screen and (max-width: 1068px) {
    .section-features.bts-show .tile-icloud .copy {
        padding-left: 0.05em;
        margin-bottom: -1px;
    }
}
@media only screen and (max-width: 734px) {
    .section-features.bts-show .tile-icloud .copy {
        margin-bottom:0px;
    }
}


.section-features.bts-show .tile-battery .image-label {
    top: 40px;
    left: 51px;
}


@media only screen and (max-width: 1068px) {
    .section-features.bts-show .tile-battery .image-label {
        top: 28px;
        left: 42px;
        line-height: 1.1916666667;
        }

        
}

@media only screen and (max-width: 734px) {
    .section-features.bts-show .tile-battery .image-label {
        top: 26px;
        left: 33px;  
    }
}
@media only screen and (max-width: 1068px) {
    .section-features.bts-show .typography-battery-stat-elevated:lang(zh){
        line-height: 1.1916666667;
    }
}
@media only screen and (max-width: 734px) {
	.section-features.bts-show .typography-battery-stat-elevated:lang(zh){
		line-height: 1.1529611765;
	}
}

.section-features.bts-show .tile-chip .headline-content .typography-chip-headline-elevated {
    margin-top:0;
}
.section-features.bts-show .tile-chip .headline-content .typography-chip-headline {
    margin-top:10px;
    padding-left:0.2em;
}

.section-features.bts-show .tile-macos.theme-light strong, .tile-macos.tile-light strong {
    padding-right: 0em;
	padding-left: 0.08em;
}

.section-features.bts-show .theme-light strong.lime_alt, .tile-light strong.lime_alt{
	padding-right: 0em;
	padding-left: 0em;
}

.section-features.bts-show .tile-macos.theme-light strong.lime_alt_1, .tile-macos.tile-light strong.lime_alt_1{
	padding-right: 0em;
	padding-bottom: 0.1em;
	padding-left: 0;
}

.section-features.bts-show .tile-chip.theme-light strong, .tile-chip.tile-light strong{
	padding-bottom: 0.1em;
}


.section-features.bts-show .theme-light strong.lime_alt_2, .tile-light strong.lime_alt_2{
	padding-right: 0em;
	padding-left: 0.05em;
}

.section-features.bts-show .theme-light strong.lime_alt_3, .tile-light strong.lime_alt_3{
	padding-right: 0.26em;
}


.section-features.bts-show .section-footer-gallery {
    --headline-row-height: 73px;
}

@media only screen and (max-width: 1068px) {
    .section-features.bts-show .section-footer-gallery {
        --headline-row-height: 72px;
    }
}

@media only screen and (max-width: 734px) {
    .section-features.bts-show .section-footer-gallery {
        --headline-row-height: 68px;
    }
}

/*小屏居左*/
@media only screen and (max-width: 734px) {
    .section-features.bts-show  .section-compare .gallery-item-content {
        justify-content: start;
    }
}




.section-features.bts-show #Layer_1 {
    position: absolute;
    top: -1px;
    left: -1px;
}




.section-features.bts-show .section-compare .gallery-item {
    font-size: inherit;
}


.section-features.bts-show .grid-wrapper {
    display: grid;
    grid-template-rows: auto repeat(2,840px) 800px repeat(3,840px) 300px;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas: "battery battery apps apps apps apps" "chip chip chip chip chip chip"  "iphone iphone iphone design design design" "continuity continuity continuity continuity continuity continuity" "icloud icloud icloud migration migration migration" "durability durability durability macos macos macos" "security security touch-id touch-id touch-id touch-id" "support support support support support support"
}

@media only screen and (max-width: 1068px) {
    .section-features.bts-show .grid-wrapper {
        grid-template-rows:auto repeat(2,700px) 700px repeat(3,700px) 300px;
        grid-auto-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:  "battery apps" "chip chip" "iphone design" "continuity continuity" "icloud migration" "durability macos" "security touch-id" "support support"
    }
}

@media only screen and (max-width: 734px) {
    .section-features.bts-show .grid-wrapper {
        /* grid-template-rows:auto 500px 500px 500px 600px 500px auto 600px 500px 500px 500px 640px 500px; */
        grid-template-rows:500px 500px auto 500px auto auto 640px 600px 500px 500px 500px 500px 500px;
        grid-auto-columns: 100%;
        grid-gap: 16px;
        grid-template-areas: "battery" "apps"  "chip" "iphone" "design" "continuity" "icloud" "migration" "durability" "macos" "security" "touch-id" "support"
    }
}


/* reset checkbox  */

.section-features.bts-show .tile-migration .migration-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-features.bts-show .typography-migration-headline.setAnimation {
    margin-top: 30px;
}

.section-features.bts-show .battery-process {
    position: absolute;
    height: 100%;
    right: 300px;
    transition: right 0.8s ease-out 0.3s;
}


.section-features.bts-show .battery-process.animated {
    right: 0;
}

@media screen and (max-width: 1068px) {

    .section-features.bts-show .battery-process {
       right: 200px;
        
        }
        .section-features.bts-show .battery-process.animated {
            right:0
        }
    
}
@media screen and (max-width: 1024px) {
    .section-features.bts-show .battery-process {
        transition: right 0.8s ease-out 0.6s;
    }
}


.section-features.bts-show .image-label {
    opacity: 1;
    z-index: 10;
    /* transition: all 0.8s ease-in-out 1s; */
}
/* .image-label.animated {
    opacity: 1;
} */

/* .section-features.bts-show .checkedCircle.animated {
    transform:  translate(103px, 45px) scale(1);
} */

.section-features.bts-show .cls-1 {
    fill: lime;
  }

  .section-features.bts-show .cls-2 {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6px;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition: all 0.3s ease-in 0.15s;
}

.section-features.bts-show .cls-2.animated {
    stroke-dasharray: 100%;
    stroke-dashoffset: 20%;
}
.section-features.bts-show #checkCircleWrap {
    position: absolute;
    top: 44px;
    left: calc(37% - 1px);
    width: 75px;
    height: 75px;
    opacity: 1;
    /* transform: transla÷eY(0px) scale(0.9); */
    /* transition: transform 0.5s cubic-bezier(.4,.68,1,1.61); */
  }
  .section-features.bts-show #checkCircleWrap.animated {
    transform: scale(1);
    opacity: 1;
    animation: scaleCircle 0.3s ease-in ;
  }
  @keyframes scaleCircle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }

  .section-features.bts-show .migration-screen {
    position: relative;
    transform: translateX(1px);
  }

  /* bts 电池图标调整 */
  .section-features.bts-show .typography-battery-headline.centered {
    text-align: center;
    padding-bottom: 40px;
    font-size: 44px;
    margin-top: 0;
}

.section-features.bts-show .typography-battery-stat-elevated:lang(zh) {
    font-size: 72px;
    font-weight: bold;
  }
  .section-features.bts-show .typography-battery-stat-elevated:lang(zh) span {
    font-size: 44px;
    line-height: normal;
    letter-spacing: 0.31px;
}

.section-features.bts-show .tile-battery .image-wrapper {
    --p-width: 300px;
    --p-height: 152px
}
.section-features.bts-show .tile-battery .image {
    --p-width: 300px;
    --p-height: 152px
}

  .section-features.bts-show .tile-battery .copy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    @media only screen and (max-width: 1068px) {
        .section-features.bts-show .tile-battery .image-wrapper {
            --p-width: 258px;
            --p-height: 130px
        }
        .section-features.bts-show .tile-battery .image {
            --p-width: 258px;
            --p-height: 130px
        }
        .section-features.bts-show .typography-battery-stat-elevated:lang(zh) {
            font-size: 64px;
            font-weight:600;
        }
        .section-features.bts-show .typography-battery-headline.centered {
            text-align: center;
            padding-bottom: 36px;
            font-size: 40px;
        }

    }
    @media only screen and (max-width: 1068px) {
    .section-features.bts-show .cls-2 {
        stroke-width: 8px;
    }
    .section-features.bts-show .typography-battery-stat-elevated:lang(zh) span {
        font-size: 40px;
        letter-spacing: 0.37px;
    }
}

  @media only screen and (max-width: 734px) {
      .section-features.bts-show .tile-battery .image {
          --p-width: 205px;
          --p-height: 104px
      }


      .section-features.bts-show .tile-battery .image-wrapper {
          --p-width: 205px;
          --p-height: 104px
      }

      .section-features.bts-show .tile-battery .battery-wrapper {
          align-items: center;
      }
      .section-features.bts-show   .battery-process {
        right: 150px;
    }
    .section-features.bts-show  .battery-process.animated {
       right: 0;
    }

    .section-features.bts-show .typography-battery-headline.centered {
        text-align: center;
        padding-bottom: 18px;
        font-size: 32px;
    }
    .section-features.bts-show .tile-battery .copy-wrapper {
        display: flex;
        flex-direction: column;
    }
    .section-features.bts-show .typography-battery-stat-elevated:lang(zh) {
        font-size: 48px;
        font-weight: bold;
        /* letter-spacing: -0.09px; */
    }
    .section-features.bts-show .typography-battery-stat-elevated:lang(zh) span {
        font-size: 32px;
        letter-spacing: -0.09px;
    }
    .section-features.bts-show .typography-migration-headline.setAnimation {
        margin-top: 15px;
    }
    .section-features.bts-show .tile-migration .tile-content {
        justify-content: center;
        margin-left: 0;
    }
    .section-features.bts-show .checkAni {
        width: 148px;
        height: 124px;
    }
    .section-features.bts-show #checkCircleWrap {
        top: 23px;
        left: calc(36% + 0.75px);
        width: 40px;
        height: 40px;
    }
  }


  .section-features.bts-show .tile-apps .copy-wrapper {
    padding-top: 400px;
    padding-bottom: 180px;
    text-align: center;
    /* padding-left: 40px; */
}

.section-features.bts-show .tile-iphone .copy-wrapper {
    max-width: 100%;
}
.section-features.bts-show .tile-support .support-wrapper {
    justify-content: center;
}

.section-features.bts-show .tile-macos.theme-light strong.lime_alt_1, .tile-macos.tile-light strong.limeoffsetRight {
    padding-right: 0.1em;
    padding-left: 5px;
}


@media only screen and (max-width: 1068px) {
    .section-features.bts-show .limeoffsetRight {
        padding-right: 0.078em;
    }
    .section-features.bts-show .tile-macos.theme-light strong.lime_alt_1, .tile-macos.tile-light strong.limeoffsetRight {
        padding-right: 0.08em;
    }
    .section-features.bts-show .tile-apps .copy-wrapper {
        padding-top: 434px;
        padding-bottom: 160px;
        text-align: center;
        padding-left: 40px;
        text-align: left;
        padding-right: 40px;
        }
}
@media only screen and (max-width: 734px) {
    .section-features.bts-show .limeoffsetRight {
        padding-right: 0.08em;
    }
}

.section-features.bts-show .tile-design .image {
    --p-width: 583px;
    --p-height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
@media only screen and (max-width: 1068px) and (max-width: 1068px) {
    .section-features.bts-show .tile-design .image {
    --p-width: 404px;
    --p-height: 246px;
}
}
@media only screen and (max-width: 734px) {
   .section-features.bts-show .tile-design .image {
    --p-width: 288px;
    --p-height: 176px;
} 
}

.section-features.bts-show .tile-design .image-wrapper {
    bottom: 20px;
}

@media only screen and (max-width: 1068px) {
    .section-features.bts-show .tile-design .image-wrapper {
        bottom: 85px;
    }
}

@media only screen and (max-width: 734px) {
    .section-features.bts-show .tile-design .image-wrapper {
        bottom:60px
    }
}

.section-features.bts-show .typography-battery-headline {
    font-size: 64px;
    line-height: 1.0625;
}
@media only screen and (max-width: 1260px) {
    .section-features.bts-show .typography-battery-headline {
        font-size: 54px;
    }
}
@media only screen and (max-width: 1068px) {
    .section-features.bts-show .typography-battery-headline {
        font-size: 56px;
        letter-spacing: -0.28px;
        line-height: 1.0712857;
        }
}
@media only screen and (max-width: 734px) {
    .section-features.bts-show .typography-battery-headline {
        font-size: 48px;
        line-height: 1.08333333;
    }
}

.section-features.bts-show .theme-light strong,.section-features.bts-show .tile-light strong,.section-features.bts-show .theme-dark strong,.section-features.bts-show .tile-dark strong,.section-features.bts-show .theme-light strong .nowrap,.section-features.bts-show .tile-light strong .nowrap,.section-features.bts-show .theme-dark strong .nowrap,.section-features.bts-show .tile-dark strong .nowrap {
    font-synthesis: style;
    font-style: normal;
    }

.section-features.bts-show .tile-macos .headline {
        margin-top: 0px;
    }
 .section-features.bts-show .typography-macos-eyebrow {
    font-weight: 600;
    padding-left: 0.12em;
 }



 .section-features.bts-show .tile-icloud .copy-wrapper {
        padding-left: 111px;
     }

     @media only screen and (max-width: 1068px) {
        .section-features.bts-show .tile-icloud .copy-wrapper {
        padding-left: 0;
    }
    .section-features.bts-show .tile-iphone .iphone-wrapper {
        max-width: 315px;
    }
    .section-features.bts-show .tile-design .copy-wrapper {
        max-width: 276px;
    }
    .section-features.bts-show .typography-icloud-headline {
        font-size: 56px;
    }
     }
    

    

    

     @media only screen and (max-width: 734px) {
        .section-features.bts-show .tile-icloud .copy-wrapper {
            padding-left: 38px;
         }
    }
    .section-features.bts-show dd.battery-hours {
        display: inline-block;
        letter-spacing: 0.51px;
    }
    @media only screen and (max-width: 1068px) {
        .section-features.bts-show dd.battery-hours {
                    letter-spacing: 0.59px;
                }
    }
    
        @media only screen and (max-width: 734px) {
            .section-features.bts-show .tile-apps .copy-wrapper {
                padding-top: 304px;
                text-align: left;
                padding-left: 40px;
            }
    
            .section-features.bts-show dd.battery-hours {
                letter-spacing: -1.04px;
            }
        }

    @media only screen and (min-width: 1068px) {
        .section-features.bts-show .tile-durability .copy-wrapper    {
        padding-left: 196px;
        max-width: 100%;
    }

    }
    @media only screen and (max-width: 1068px) and (min-width: 735px) {
          .section-features.bts-show .migration-screen {
            width: 200px;
            height: 168px;
        }
        .section-features.bts-show .migration-screen svg {
        width: 200px;
        height: 168px;
      }
      .section-features.bts-show #checkCircleWrap {
        position: absolute;
        top: 30.25px;
        left: calc(37% -1px);
        width: 53px;
        height: 53px;
      }
    }
    .section-features.bts-show .tile-macos .macos-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .section-features.bts-show .tile-macos .copy-wrapper {
        padding-top: 0;
    }
    @media only screen and (max-width: 734px) {
        .section-features.bts-show .limeoffsetRight {
            padding-right: 0.08em;
        }
        .section-features.bts-show .tile-macos.theme-light strong.lime_alt_1, .tile-macos.tile-light strong.limeoffsetRight {
            padding-right: 0.042em;
        }
    }
    @media only screen and (min-width: 1112px) {
        .section-features.bts-show .tile-macos .copy-wrapper {
            padding-left: 113px;
        }
        .section-features.bts-show .tile-macos .macos-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: flex-start;
            }
    }
    @media only screen and (max-width: 1068px) {
        .section-features.bts-show .tile-macos .copy-wrapper {
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
    }
    .section-features.bts-show .tile-support .image img {
        width: 144px;
        height: 144px;
    }
     }
     @media only screen and (max-width: 734px) {
        .section-features.bts-show .tile-macos .copy-wrapper {
        padding-top: 0;
    }

     }
    
    
     .section-features.bts-show .tile-macos .copy {
        padding-left: 0.3em;
     }
     @media only screen and (max-width:1068px) {
        .section-features.bts-show .tile-macos .copy {
            margin-top: 30px;
        }
     }

     .section-features.bts-show .tile-security .copy-wrapper {
        max-width: 306px;
     }

     .section-features.bts-show .tile-battery .headline {
        margin-left: -0.87em;
     }

     @media only screen and (max-width:734px) {
        .section-features.bts-show .tile-macos .macos-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        }
        .section-features.bts-show .tile-support .image {
            width: 100px;
            height: 100px;
        }
        .section-features.bts-show .tile-support .image img {
            width: 100px;
            height: 100px;
        }
     }
     
     /* .batterySVG svg path {
        transition: all 1s ease-in-out;
     }

     .batterySVG svg path {
        d: path('M194,67 C198.675,66.7142857 205,60.4285714 205,51 C205,41.5714286 198.675,35.2857143 194,35 L194,67 Z M36.4896249,105 L150.435754,105 C164.986832,105 173.195132,102.855392 179.164804,95.9926471 C185.134477,89.129902 187,79.8651961 187,63.0514706 L187,41.9485294 C187,25.1348039 185.134477,15.7843137 179.164804,9.00735294 C173.120511,2.14460784 164.986832,0 150.435754,0 L35.7434158,0 C22.0877893,0 13.8048683,2.23039216 7.83519553,9.09313725 C1.86552275,15.9558824 0,25.3063725 0,41.004902 L0,63.0514706 C0,79.8651961 1.79090184,89.2156863 7.76057462,95.9926471 C13.8048683,102.855392 21.9385475,105 36.4896249,105 Z M34.2121341,98 C23.924056,98 16.1141281,95.8624535 11.4582096,90.5613383 C6.80229105,85.1747212 5,76.5390335 5,64.739777 L5,40.2007435 C5,27.6319703 6.80229105,18.6542751 11.3831141,13.3531599 C16.0390327,7.96654275 24.0742469,6 35.0381841,6 L152.787866,6 C163.151039,6 170.885872,8.13754647 175.54179,13.4386617 C180.197709,18.8252788 182,27.4609665 182,39.260223 L182,64.739777 C182,76.5390335 180.122613,85.1747212 175.54179,90.5613383 C170.885872,95.9479554 163.151039,98 152.787866,98 L34.2121341,98 Z M33.9716507,92 L154.028349,92 C162.951989,92 168.276177,90.3222958 171.350709,86.5253863 C174.500229,82.816777 176,76.4591611 176,66.1280353 L176,37.8719647 C176,27.2759382 174.500229,21.183223 171.425697,17.4746137 C168.276177,13.7660044 162.802012,12 154.028349,12 L34.7215364,12 C25.1229995,12 19.4988569,13.6777042 16.4993141,17.2980132 C13.4247828,21.0949227 12,27.6291391 12,38.7549669 L12,66.1280353 C12,76.6357616 13.4247828,82.816777 16.4993141,86.5253863 C19.7238226,90.2339956 25.1979881,92 33.9716507,92 Z');
     } */

     .section-features.bts-show .tile-support .support-headline {
        margin-top: 0;
     }

     .section-features.bts-show .tile-continuity .copy-wrapper {
        max-width: 820px;
        }

        @media only screen and (max-width:734px) {
            .section-features.bts-show .tile-support .copy-wrapper {
        margin-top: 20px;
        }
        }

        @media only screen and (max-width: 800px) and (min-width: 735px) {
        .section-features.bts-show .tile-icloud .copy-wrapper {
            margin-left: 6%;
        }
        .section-features.bts-show .tile-icloud .copy-wrapper .abs {
           position: absolute;
        }
    }
    @media only screen and (max-width:1068px) {
        .section-features.bts-show .tile-support .support-wrapper {
            padding-left: 96px;
            padding-right: 96px;
        }
    }
   
    @media only screen and (max-width: 800px) {

        .section-features.bts-show .tile-support .support-wrapper {
            padding-left: 40px;
            padding-right: 40px;
            max-width: 680px;
            margin: 0 auto;
        }
        
    }

    @media only screen and (max-width:1068px) {
        .section-features.bts-show .tile-touch-id .copy {
            max-width: 320px;
            }
    }


    /* 电池充电进度 */

    .section-features.bts-show .battery-fillwrap {
        width: 100%;
        position: absolute;
        top: -1px;
        left: -0.9px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 152px;
    }
    .section-features.bts-show .battery-fillwrap img {
        height: 100%;
    }
    .section-features.bts-show .battery-fillwrap>img:nth-of-type(1) {
        transform: translateX(-1px);
    }

    @media only screen and (max-width:1068px) {
        .section-features.bts-show .battery-fillwrap {
            height: 130px;
            }
            .section-features.bts-show .battery-fillwrap {
                width: 100%;
                position: absolute;
                top: -0.8px;
                left: -0.55px;
            }
     
    }
    @media only screen and (max-width:735px) {
        .section-features.bts-show .battery-fillwrap {
            height: 104px;
            left: -0.5px;
            top: -1px;
            }
     
    }

    .section-features.bts-show .closeTransition {
        transition: none !important;
    }

    .section-features.bts-show .battery-maskwrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        overflow: hidden;
        z-index: 2;
    }

    @media only screen and (max-width:1068px) {
        .section-features.bts-show .battery-maskwrap {
            width: 180px;
        }
     
    }   
     @media only screen and (max-width:735px) {
        .section-features.bts-show .battery-maskwrap {
            width: 140px;
            right: 0px;
        }
        .section-features.bts-show .battery-process.animated {
            right: -1.2px;
        }
     
    }
    @media only screen and (min-width:1068px) {
        .section-features.bts-show .tile-battery .headline {
        margin-top: 40px;
        }
        .section-features.bts-show .tile-chip .headline-content {
            margin-right: 120px;
            }
            .section-features.bts-show .tile-design .design-wrapper {
                padding: 0 120px 613px 120px;
                }
    }

    @media only screen and (max-width: 1068px) and (min-width: 735px) {
        .section-features.bts-show .tile-touch-id .copy-wrapper {
            padding-top: 109px;
            }
    }

    @media only screen and (max-width:734px) {
        .section-features.bts-show .tile-chip .headline-content {
            margin: 75px 40px 53px 40px;
            }
            .section-features.bts-show .tile-migration .migration-wrapper {
                transform: translateY(2px);
            }
    }


    @media screen and (max-width: 735px) {
        .section-features.bts-show .battery-process {
            transition: right 0.8s ease-out 0.1s;
        }
    }
    @media only screen and (max-width:415px) {
        .section-features.bts-show .battery-fillwrap {
            height: 104px;
            left: -0.5px;
            top: -0.5px;
            } 
        .section-features.bts-show .battery-process.animated {
            right: -1.375px;
            }
    }
    @media only screen and (max-width:391px) {
        .section-features.bts-show .battery-fillwrap {
                  top: -1.3px;
                }
    }
    @media only screen and (max-width:375px) {
        .section-features.bts-show .battery-process.animated {
            right: -0.8px;
            }
        .section-features.bts-show .battery-fillwrap {
                top: -1.05px;
                }
    }
@media only screen and (max-width: 734px) {
    .section-features.bts-show .tile-continuity .copy-wrapper {
        align-items:start;
    }
}
    .ribbon-bts-2023 .ac-ribbon__bts-2023 {
    overflow: hidden;
    --ribbon-background-color: #f5f5f7;
    --ribbon-text-color: #1d1d1f;
    --ribbon-link-color: #06c;
    --ribbon-focus-color: rgba(0, 125, 250, 0.6);
    --ribbon-text-color: #1d1d1f;
    --ribbon-text-color-initial: #fff;
    --ribbon-link-color: #06c;
    --ribbon-focus-color: rgba(0, 125, 250, 0.6);
    --ribbon-link-color-initial: #fff;
    --ribbon-background-color: #f1f1f3;
    --ribbon-background-color-initial: #0071e3;
}
@media only screen and (max-width: 734px) {
    .section-compare .product-pricing {
        max-width: 150px;
    }
}
html.hide-acmi .section-compare .product-pricing .footnote {
    display:inline-block;
}

.section-features.bts-show .tile-iphone .iphone-wrapper {
    padding: 0 58px;
}

@media only screen and (max-width: 1068px) {
    .section-features.bts-show .tile-iphone .iphone-wrapper {
        padding:0 33px
    }
}

@media only screen and (max-width: 734px) {
    .section-features.bts-show .tile-iphone .iphone-wrapper {
        padding:0 40px
    }
}