@media only screen and (max-width: 735px) { 
    html[lang=zh-CN] .centerall { padding-left: 0; }
}

@media only screen and (max-width: 1068px) {
    .grid-item-review h3 {
        max-width: 273px;
    }
}
@media only screen and (max-width: 1068px) {
    .grid-item-data h3 {
        max-width: 240px;
    }
}
@media only screen and (max-width: 1068px) {
    .grid-item-storefronts h3 {
        width: 280px;
    }
}

.icon-chevronright::after {top: 0!important;}

/* app store layout */

.app-store-wrapper .marquee-item-copy {
    width: 55%;
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .marquee-item-copy {
        width: 48%;
    }
}

@media only screen and (max-width: 735px) {
    .app-store-wrapper .marquee-item-copy {
        width: 48%;
    }
}


/* App-Store API missfont */

.app-store-wrapper .marquee-item-copy .marquee-item-title {
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .marquee-item-copy .marquee-item-title {
        font-size: 11px;
    }
}

@media only screen and (max-width: 735px) {
    .app-store-wrapper .marquee-item-copy .marquee-item-title {
        font-size: 8px;
        }
}


.app-store-wrapper .marquee-item-copy .marquee-item-description {
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
}

@media only screen and (max-width: 1068px) {
    .app-store-wrapper .marquee-item-copy .marquee-item-description {
        font-size: 10px;
    }
}

@media only screen and (max-width: 735px) {
    .app-store-wrapper .marquee-item-copy .marquee-item-description {
        font-size: 9px;
        }
}