.section-power .image-arcade {
    background-image: url(../image/arcade__b78pel2pnlau_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-power .image-arcade {
        background-image:url(../image/arcade__b78pel2pnlau_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-power .image-arcade {
        background-image: url(../image/arcade__b78pel2pnlau_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-power .image-arcade {
        background-image:url(../image/arcade__b78pel2pnlau_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-power .image-arcade {
        background-image: url(../image/arcade__b78pel2pnlau_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-power .image-arcade {
        background-image:url(../image/arcade__b78pel2pnlau_small_2x.png)}}
.section-power .image-create {
    background-image: url(../image/create__ebpvvof9a1yu_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-power .image-create {
        background-image:url(../image/create__ebpvvof9a1yu_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-power .image-create {
        background-image: url(../image/create__ebpvvof9a1yu_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-power .image-create {
        background-image:url(../image/create__ebpvvof9a1yu_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-power .image-create {
        background-image: url(../image/create__ebpvvof9a1yu_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-power .image-create {
        background-image:url(../image/create__ebpvvof9a1yu_small_2x.jpg)}}
.section-power .image-multiple-apps {
    background-image: url(../image/multiple_apps__crtm7ed3bu6a_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-power .image-multiple-apps {
        background-image:url(../image/multiple_apps__crtm7ed3bu6a_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-power .image-multiple-apps {
        background-image: url(../image/multiple_apps__crtm7ed3bu6a_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-power .image-multiple-apps {
        background-image:url(../image/multiple_apps__crtm7ed3bu6a_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-power .image-multiple-apps {
        background-image: url(../image/multiple_apps__crtm7ed3bu6a_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-power .image-multiple-apps {
        background-image:url(../image/multiple_apps__crtm7ed3bu6a_small_2x.png)}}
.section-accessories .image-accessories {
    background-image: url(../image/accessories__d8thgppbxv0i_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-accessories .image-accessories {
        background-image:url(../image/accessories__d8thgppbxv0i_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-accessories .image-accessories {
        background-image: url(../image/accessories__d8thgppbxv0i_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-accessories .image-accessories {
        background-image:url(../image/accessories__d8thgppbxv0i_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-accessories .image-accessories {
        background-image: url(../image/accessories__d8thgppbxv0i_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-accessories .image-accessories {
        background-image:url(../image/accessories__d8thgppbxv0i_small_2x.jpg)}}
.section-camera .image-edit {
    background-image: url(../image/edit__fj8algko6pme_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-camera .image-edit {
        background-image:url(../image/edit__fj8algko6pme_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-camera .image-edit {
        background-image: url(../image/edit__fj8algko6pme_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-camera .image-edit {
        background-image:url(../image/edit__fj8algko6pme_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-camera .image-edit {
        background-image: url(../image/edit__fj8algko6pme_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-camera .image-edit {
        background-image:url(../image/edit__fj8algko6pme_small_2x.jpg)}}
.section-wireless .image-files {
    background-image: url(../image/files__fimy5szi8kae_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-wireless .image-files {
        background-image:url(../image/files__fimy5szi8kae_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-wireless .image-files {
        background-image: url(../image/files__fimy5szi8kae_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-wireless .image-files {
        background-image:url(../image/files__fimy5szi8kae_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-wireless .image-files {
        background-image: url(../image/files__fimy5szi8kae_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-wireless .image-files {
        background-image:url(../image/files__fimy5szi8kae_small_2x.png)}}
.section-ar.section-shared-footer .image-ipad {
    background-image: url(../image/ar_ipad__dv7oiizlp5ci_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-ar.section-shared-footer .image-ipad {
        background-image:url(../image/ar_ipad__dv7oiizlp5ci_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-ar.section-shared-footer .image-ipad {
        background-image: url(../image/ar_ipad__dv7oiizlp5ci_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-ar.section-shared-footer .image-ipad {
        background-image:url(../image/ar_ipad__dv7oiizlp5ci_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-ar.section-shared-footer .image-ipad {
        background-image: url(../image/ar_ipad__dv7oiizlp5ci_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-ar.section-shared-footer .image-ipad {
        background-image:url(../image/ar_ipad__dv7oiizlp5ci_small_2x.jpg)}}
.section-display .image-notes {
    background-image: url(../image/notes__4ard8n1mcb6e_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-display .image-notes {
        background-image:url(../image/notes__4ard8n1mcb6e_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-display .image-notes {
        background-image: url(../image/notes__4ard8n1mcb6e_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-display .image-notes {
        background-image:url(../image/notes__4ard8n1mcb6e_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-display .image-notes {
        background-image: url(../image/notes__4ard8n1mcb6e_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-display .image-notes {
        background-image:url(../image/notes__4ard8n1mcb6e_small_2x.jpg)}}
.section-display .image-shareplay {
    background-image: url(../image/shareplay__c23opgkchfiq_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-display .image-shareplay {
        background-image:url(../image/shareplay__c23opgkchfiq_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-display .image-shareplay {
        background-image: url(../image/shareplay__c23opgkchfiq_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-display .image-shareplay {
        background-image:url(../image/shareplay__c23opgkchfiq_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-display .image-shareplay {
        background-image: url(../image/shareplay__c23opgkchfiq_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-display .image-shareplay {
        background-image:url(../image/shareplay__c23opgkchfiq_small_2x.png)}}
.section-hero .image-hero {
    background-image: url(../image/hero__bko3fc2it2s2_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-hero .image-hero {
        background-image:url(../image/hero__bko3fc2it2s2_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-hero .image-hero {
        background-image: url(../image/hero__bko3fc2it2s2_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-hero .image-hero {
        background-image:url(../image/hero__bko3fc2it2s2_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-hero .image-hero {
        background-image: url(../image/hero__bko3fc2it2s2_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-hero .image-hero {
        background-image:url(../image/hero__bko3fc2it2s2_small_2x.jpg)}}
.section-ipados .image-quick-note {
    background-image: url(../image/quick_note__dw0ey373yfe6_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-ipados .image-quick-note {
        background-image:url(../image/quick_note__dw0ey373yfe6_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-ipados .image-quick-note {
        background-image: url(../image/quick_note__dw0ey373yfe6_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-ipados .image-quick-note {
        background-image:url(../image/quick_note__dw0ey373yfe6_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-ipados .image-quick-note {
        background-image: url(../image/quick_note__dw0ey373yfe6_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-ipados .image-quick-note {
        background-image:url(../image/quick_note__dw0ey373yfe6_small_2x.png)}}
.section-ipados .image-split-view {
    background-image: url(../image/split_view__qqzeiljl74qm_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-ipados .image-split-view {
        background-image:url(../image/split_view__qqzeiljl74qm_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-ipados .image-split-view {
        background-image: url(../image/split_view__qqzeiljl74qm_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-ipados .image-split-view {
        background-image:url(../image/split_view__qqzeiljl74qm_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-ipados .image-split-view {
        background-image: url(../image/split_view__qqzeiljl74qm_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-ipados .image-split-view {
        background-image:url(../image/split_view__qqzeiljl74qm_small_2x.png)}}
.section-ipados .image-widgets {
    background-image: url(../image/widgets__bip4o5w3kmoi_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-ipados .image-widgets {
        background-image:url(../image/widgets__bip4o5w3kmoi_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-ipados .image-widgets {
        background-image: url(../image/widgets__bip4o5w3kmoi_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-ipados .image-widgets {
        background-image:url(../image/widgets__bip4o5w3kmoi_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-ipados .image-widgets {
        background-image: url(../image/widgets__bip4o5w3kmoi_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-ipados .image-widgets {
        background-image:url(../image/widgets__bip4o5w3kmoi_small_2x.png)}}
.section-apps .image-apps-2 {
    background-image: url(../image/apps_2__ev9dihmmgqy6_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-apps .image-apps-2 {
        background-image:url(../image/apps_2__ev9dihmmgqy6_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-apps .image-apps-2 {
        background-image: url(../image/apps_2__ev9dihmmgqy6_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-apps .image-apps-2 {
        background-image:url(../image/apps_2__ev9dihmmgqy6_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-apps .image-apps-2 {
        background-image: url(../image/apps_2__ev9dihmmgqy6_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-apps .image-apps-2 {
        background-image:url(../image/apps_2__ev9dihmmgqy6_small_2x.png)}}
.section-apps .image-apps-3 {
    background-image: url(../image/apps_3__eciwo9ffkhqq_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-apps .image-apps-3 {
        background-image:url(../image/apps_3__eciwo9ffkhqq_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-apps .image-apps-3 {
        background-image: url(../image/apps_3__eciwo9ffkhqq_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-apps .image-apps-3 {
        background-image:url(../image/apps_3__eciwo9ffkhqq_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-apps .image-apps-3 {
        background-image: url(../image/apps_3__eciwo9ffkhqq_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-apps .image-apps-3 {
        background-image:url(../image/apps_3__eciwo9ffkhqq_small_2x.png)}}
.section-apps .image-apps-5 {
    background-image: url(../image/apps_5__b6z7iboejrma_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-apps .image-apps-5 {
        background-image:url(../image/apps_5__b6z7iboejrma_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-apps .image-apps-5 {
        background-image: url(../image/apps_5__b6z7iboejrma_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-apps .image-apps-5 {
        background-image:url(../image/apps_5__b6z7iboejrma_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-apps .image-apps-5 {
        background-image: url(../image/apps_5__b6z7iboejrma_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-apps .image-apps-5 {
        background-image:url(../image/apps_5__b6z7iboejrma_small_2x.png)}}

.section-wireless .image-facetime {
    background-image: url(../image/facetime__btplvmo4kufm_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-wireless .image-facetime {
        background-image:url(../image/facetime__btplvmo4kufm_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-wireless .image-facetime {
        background-image: url(../image/facetime__btplvmo4kufm_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-wireless .image-facetime {
        background-image:url(../image/facetime__btplvmo4kufm_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-wireless .image-facetime {
        background-image: url(../image/facetime__btplvmo4kufm_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-wireless .image-facetime {
        background-image:url(../image/facetime__btplvmo4kufm_small_2x.jpg)}}
.section-accessibility .image-accessibility {
    background-image: url(../image/accessibility__z4yvb49h6uai_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-accessibility .image-accessibility {
        background-image:url(../image/accessibility__z4yvb49h6uai_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-accessibility .image-accessibility {
        background-image: url(../image/accessibility__z4yvb49h6uai_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-accessibility .image-accessibility {
        background-image:url(../image/accessibility__z4yvb49h6uai_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-accessibility .image-accessibility {
        background-image: url(../image/accessibility__z4yvb49h6uai_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-accessibility .image-accessibility {
        background-image:url(../image/accessibility__z4yvb49h6uai_small_2x.jpg)}}
.section-apps .image-apps-4 {
    background-image: url(../image/apps_4__c1hq1d79rvma_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-apps .image-apps-4 {
        background-image:url(../image/apps_4__c1hq1d79rvma_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .section-apps .image-apps-4 {
        background-image: url(../image/apps_4__c1hq1d79rvma_medium.png)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-apps .image-apps-4 {
        background-image:url(../image/apps_4__c1hq1d79rvma_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .section-apps .image-apps-4 {
        background-image: url(../image/apps_4__c1hq1d79rvma_small.png)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-apps .image-apps-4 {
        background-image:url(../image/apps_4__c1hq1d79rvma_small_2x.png)}}
.section-privacy .image-privacy {
    background-image: url(../image/privacy__en1oinxo9jiq_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) {
    .section-privacy .image-privacy {
        background-image:url(../image/privacy__en1oinxo9jiq_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .section-privacy .image-privacy {
        background-image: url(../image/privacy__en1oinxo9jiq_medium.jpg)}}
@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-privacy .image-privacy {
        background-image:url(../image/privacy__en1oinxo9jiq_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .section-privacy .image-privacy {
        background-image: url(../image/privacy__en1oinxo9jiq_small.jpg)}}
@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-privacy .image-privacy {
        background-image:url(../image/privacy__en1oinxo9jiq_small_2x.jpg)}}

/* music */
@media only screen and (max-width: 320px) {
    .section-display .hw-shareplay-lockup.geo-alt .alt-caption {
        transform: translate(-14px, 290px) rotate(-4deg);
        width:387px
    }
}
.alt-caption .icon-after:after {
    left: -5px;
}
@media only screen and (max-width: 1068px) {
    .alt-caption .icon-after:after {
        left: -5px;
    }
}
@media only screen and (max-width: 734px) {
    .alt-caption .icon-after:after {
        left: -5px;
    }
}
@media only screen and (max-width: 320px) {
    .alt-caption .icon-after:after {
        left: -5px;
    }
}