/* 
 * This file is auto build.
 * Dont insert any code to this file.
 * Put your code into `*.built.css` file 
 */  
.image-ipad-keyboards-hero {
    background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-ipad-keyboards-hero {
        background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .image-ipad-keyboards-hero {
        background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_medium.jpg)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-ipad-keyboards-hero {
        background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .image-ipad-keyboards-hero {
        background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_small.jpg)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-ipad-keyboards-hero {
        background-image:url(../image/ipad_keyboards_hero__ek7chcu7sj0i_small_2x.jpg)}}
.image-magic-keyboard-black {
    background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-magic-keyboard-black {
        background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .image-magic-keyboard-black {
        background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_medium.jpg)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-black {
        background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .image-magic-keyboard-black {
        background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_small.jpg)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-black {
        background-image:url(../image/magic_keyboard_black__b0zgmcf9vkgi_small_2x.jpg)}}
.image-magic-keyboard-folio {
    background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-magic-keyboard-folio {
        background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .image-magic-keyboard-folio {
        background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_medium.png)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-folio {
        background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .image-magic-keyboard-folio {
        background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_small.png)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-folio {
        background-image:url(../image/magic_keyboard_folio__bksjnsz6ol5y_small_2x.png)}}
.image-magic-keyboard-white {
    background-image:url(../image/magic_keyboard_white__bw5nfooq07le_large.jpg)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-magic-keyboard-white {
        background-image:url(../image/magic_keyboard_white__bw5nfooq07le_large_2x.jpg)}}
@media only screen and (max-width: 1068px) {
    .image-magic-keyboard-white {
        background-image:url(../image/magic_keyboard_white__bw5nfooq07le_medium.jpg)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-white {
        background-image:url(../image/magic_keyboard_white__bw5nfooq07le_medium_2x.jpg)}}
@media only screen and (max-width: 734px) {
    .image-magic-keyboard-white {
        background-image:url(../image/magic_keyboard_white__bw5nfooq07le_small.jpg)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-magic-keyboard-white {
        background-image:url(../image/magic_keyboard_white__bw5nfooq07le_small_2x.jpg)}}
.image-smart-keyboard {
    background-image:url(../image/smart_keyboard__b6lerwqiubaq_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-smart-keyboard {
        background-image:url(../image/smart_keyboard__b6lerwqiubaq_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .image-smart-keyboard {
        background-image:url(../image/smart_keyboard__b6lerwqiubaq_medium.png)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-smart-keyboard {
        background-image:url(../image/smart_keyboard__b6lerwqiubaq_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .image-smart-keyboard {
        background-image:url(../image/smart_keyboard__b6lerwqiubaq_small.png)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-smart-keyboard {
        background-image:url(../image/smart_keyboard__b6lerwqiubaq_small_2x.png)}}
.image-smart-keyboard-folio {
    background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_large.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .image-smart-keyboard-folio {
        background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_large_2x.png)}}
@media only screen and (max-width: 1068px) {
    .image-smart-keyboard-folio {
        background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_medium.png)}}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-smart-keyboard-folio {
        background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_medium_2x.png)}}
@media only screen and (max-width: 734px) {
    .image-smart-keyboard-folio {
        background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_small.png)}}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-smart-keyboard-folio {
        background-image:url(../image/smart_keyboard_folio__cxkvogf9rr6u_small_2x.png)}}
