@media only screen and (min-width: 1068px) {
    div.captions-gallery {
        flex: auto;
        min-height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1110px) {
    p.typography-headline span.m-p {
        position: static;
    }
}


@media only screen and (max-width: 600px) {
    .nowraps {
        display: inline-block;
        text-decoration: inherit;
        white-space: nowrap;
    }
}

.ss-p {
    position: static;
}
html[lang=zh-CN] br.ss-show {
    display: none;
}

@media only screen and (max-width: 340px) {
    .ss-p {
        position: absolute;
    }
    html[lang=zh-CN] br.ss-show {
        display: block;
    }
    .sm-l {
        margin-left: -4px;
    }
}

html[lang=zh-CN] br.s-small {
    display: none;
}
@media only screen and (max-width: 321px) {
    html[lang=zh-CN] br.s-small {
        display: block;
    }
}

.globalheader-dark #globalmessage-segment, .theme-dark #globalmessage-segment {
    --globalmessage-segment-background: rgb(22, 22, 23);
    --globalmessage-segment-scrim-background: rgba(255, 255, 255, 0);
    --globalmessage-segment-text-color: rgba(255, 255, 255, .92);
    --globalmessage-segment-border-color: rgba(255, 255, 255, .4);
}