/* hermes start */
@media only screen and (min-width: 735px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_large.jpg)
    }
}

@media only screen and (min-width: 735px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_large_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_medium.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_medium_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_small.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_small_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_large.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_large_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_medium.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-hermes .compare-item-image {
        background-image:url(../image/light_hermes__ewgh6x60ohsi_small_2x.jpg)
    }
}
/* hermes end */

/* s9 start */
@media only screen and (min-width: 735px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_large.jpg)
    }
}

@media only screen and (min-width: 735px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_large_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_medium.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_medium_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_small.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_small_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_large.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_large_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_medium.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-series-9 .compare-item-image {
        background-image:url(../image/light_s9__cqdkxsnpa3xy_small_2x.jpg)
    }
}
/* s9 end */

/* ultra 2 start */
@media only screen and (min-width: 735px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image: url(../image/light_ultra_2__c7ma0bqh8kwi_large.jpg);
    }
}

@media only screen and (min-width: 735px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_large_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_medium.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_medium_2x.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_small.jpg)
    }
}

@media only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_small_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_large.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_large_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_medium.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-compare-expanded .compare-item-ultra-2 .compare-item-image {
        background-image:url(../image/light_ultra_2__c7ma0bqh8kwi_small_2x.jpg)
    }
}
/* ultra 2 end */

/* s9 41mm start */
figure.gallery-tabnav-display-series-9-41mm {
    background-image: url(../image/s9_display_41mm__bdmow2gmofmq_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    figure.gallery-tabnav-display-series-9-41mm {
        background-image:url(../image/s9_display_41mm__bdmow2gmofmq_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    figure.gallery-tabnav-display-series-9-41mm {
        background-image:url(../image/s9_display_41mm__bdmow2gmofmq_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-series-9-41mm {
        background-image:url(../image/s9_display_41mm__bdmow2gmofmq_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    figure.gallery-tabnav-display-series-9-41mm {
        background-image:url(../image/s9_display_41mm__bdmow2gmofmq_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-series-9-41mm {
        background-image:url(../image/s9_display_41mm__bdmow2gmofmq_small_2x.jpg)
    }
}
/* s9 41mm end */

/* s9 45mm start */
figure.gallery-tabnav-display-series-9-45mm {
    background-image: url(../image/s9_display_45mm__dlgpuxm6h926_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    figure.gallery-tabnav-display-series-9-45mm {
        background-image:url(../image/s9_display_45mm__dlgpuxm6h926_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    figure.gallery-tabnav-display-series-9-45mm {
        background-image:url(../image/s9_display_45mm__dlgpuxm6h926_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-series-9-45mm {
        background-image:url(../image/s9_display_45mm__dlgpuxm6h926_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    figure.gallery-tabnav-display-series-9-45mm {
        background-image:url(../image/s9_display_45mm__dlgpuxm6h926_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-series-9-45mm {
        background-image:url(../image/s9_display_45mm__dlgpuxm6h926_small_2x.jpg)
    }
}
/* s9 45mm end */

/* s9 40mm start */
figure.gallery-tabnav-display-se-40mm {
    background-image: url(../image/se_display_40mm__evuzo4m3aiie_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    figure.gallery-tabnav-display-se-40mm {
        background-image:url(../image/se_display_40mm__evuzo4m3aiie_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    figure.gallery-tabnav-display-se-40mm {
        background-image:url(../image/se_display_40mm__evuzo4m3aiie_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-se-40mm {
        background-image:url(../image/se_display_40mm__evuzo4m3aiie_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    figure.gallery-tabnav-display-se-40mm {
        background-image:url(../image/se_display_40mm__evuzo4m3aiie_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-se-40mm {
        background-image:url(../image/se_display_40mm__evuzo4m3aiie_small_2x.jpg)
    }
}
/* s9 40mm end */

/* s9 44mm start */
figure.gallery-tabnav-display-se-44mm {
    background-image: url(../image/se_display_44mm__bgabdtiflhsi_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    figure.gallery-tabnav-display-se-44mm {
        background-image:url(../image/se_display_44mm__bgabdtiflhsi_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    figure.gallery-tabnav-display-se-44mm {
        background-image:url(../image/se_display_44mm__bgabdtiflhsi_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-se-44mm {
        background-image:url(../image/se_display_44mm__bgabdtiflhsi_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    figure.gallery-tabnav-display-se-44mm {
        background-image:url(../image/se_display_44mm__bgabdtiflhsi_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-se-44mm {
        background-image:url(../image/se_display_44mm__bgabdtiflhsi_small_2x.jpg)
    }
}
/* s9 44mm end */

/* s9 49mm start */
figure.gallery-tabnav-display-ultra-2-49mm {
    background-image: url(../image/ultra_2_display_49mm__gg1tixus9b22_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    figure.gallery-tabnav-display-ultra-2-49mm {
        background-image:url(../image/ultra_2_display_49mm__gg1tixus9b22_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    figure.gallery-tabnav-display-ultra-2-49mm {
        background-image:url(../image/ultra_2_display_49mm__gg1tixus9b22_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-ultra-2-49mm {
        background-image:url(../image/ultra_2_display_49mm__gg1tixus9b22_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    figure.gallery-tabnav-display-ultra-2-49mm {
        background-image:url(../image/ultra_2_display_49mm__gg1tixus9b22_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    figure.gallery-tabnav-display-ultra-2-49mm {
        background-image:url(../image/ultra_2_display_49mm__gg1tixus9b22_small_2x.jpg)
    }
}
/* s9 49mm end */

/* hero s9 start */
.image-compare-hero-series-9 {
    background-image: url(../image/compare_hero_s9__ddw71qn9dg2u_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-compare-hero-series-9 {
        background-image:url(../image/compare_hero_s9__ddw71qn9dg2u_large_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .image-compare-hero-series-9 {
        background-image:url(../image/compare_hero_s9__ddw71qn9dg2u_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-compare-hero-series-9 {
        background-image:url(../image/compare_hero_s9__ddw71qn9dg2u_small_2x.jpg)
    }
}
/* hero s9 end */

/* hero ultra start */
.image-compare-hero-ultra-2 {
    background-image: url(../image/compare_hero_ultra_2__emasszh713au_large.jpg);
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-compare-hero-ultra-2 {
        background-image:url(../image/compare_hero_ultra_2__emasszh713au_large_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .image-compare-hero-ultra-2 {
        background-image:url(../image/compare_hero_ultra_2__emasszh713au_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-compare-hero-ultra-2 {
        background-image:url(../image/compare_hero_ultra_2__emasszh713au_small_2x.jpg)
    }
}
/* hero ultra end */

/* modal start */
.image-allmodels-watch-series-1 {
    background-image:url(../image/all_models_s1__dsl688kf2d6q_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-1 {
        background-image:url(../image/all_models_s1__dsl688kf2d6q_large_2x.jpg)
    }
}

.image-allmodels-watch-series-2 {
    background-image:url(../image/all_models_s2__dljkeovbhg2u_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-2 {
        background-image:url(../image/all_models_s2__dljkeovbhg2u_large_2x.jpg)
    }
}

.image-allmodels-watch-series-3 {
    background-image:url(../image/all_models_s3__gk9l3r5iqpu2_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-3 {
        background-image:url(../image/all_models_s3__gk9l3r5iqpu2_large_2x.jpg)
    }
}

.image-allmodels-watch-series-4 {
    background-image:url(../image/all_models_s4__bgehp08bkfbm_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-4 {
        background-image:url(../image/all_models_s4__bgehp08bkfbm_large_2x.jpg)
    }
}

.image-allmodels-watch-se-gen-1 {
    background-image:url(../image/all_models_se_gen1__lqzja8ijy2ye_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-se-gen-1 {
        background-image:url(../image/all_models_se_gen1__lqzja8ijy2ye_large_2x.jpg)
    }
}

.image-allmodels-watch-series-6 {
    background-image:url(../image/all_models_s6__ek74euidb9si_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-6 {
        background-image:url(../image/all_models_s6__ek74euidb9si_large_2x.jpg)
    }
}

.image-allmodels-watch-series-7 {
    background-image: url(../image/all_models_s7__ezr1ki1iami6_large.jpg);

}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-7 {
        background-image:url(../image/all_models_s7__ezr1ki1iami6_large_2x.jpg)
    }
}

.image-allmodels-watch-ultra {
    background-image:url(../image/all_models_ultra__4zizg065b2qm_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-ultra {
        background-image:url(../image/all_models_ultra__4zizg065b2qm_large_2x.jpg)
    }
}

.image-allmodels-watch-series-8 {
    background-image: url(../image/all_models_s8__e5tfd488876u_large.jpg);

}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-8 {
        background-image:url(../image/all_models_s8__e5tfd488876u_large_2x.jpg)
    }
}

.image-allmodels-watch-ultra-2 {
    background-image:url(../image/all_models_ultra_2__blb4l3q0k5iu_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-ultra-2 {
        background-image:url(../image/all_models_ultra_2__blb4l3q0k5iu_large_2x.jpg)
    }
}

.image-allmodels-watch-series-9 {
    background-image:url(../image/all_models_s9__b1uwtevs199e_large.jpg)
}

@media (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .image-allmodels-watch-series-9 {
        background-image:url(../image/all_models_s9__b1uwtevs199e_large_2x.jpg)
    }
}
/* modal end */

/* quick start */
.section-quick-look .compare-column .icon-quick-look-se-water-resistant, .section-quick-look .compare-column .icon-quick-look-series-9-water-resistant {
    width: 137px;
    height: 112px;
    background-size: 137px 112px;
    background-repeat: no-repeat;
    background-image: url(../image/quicklook_water_resistant__emuwsb2150gi_large.png);
    position: relative;
    left: 50%;
    margin-left: -64.5px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and(-webkit-min-device-pixel-ratio: 1.5), only screen and(min-resolution: 1.5dppx) {
    .section-quick-look .compare-column .icon-quick-look-se-water-resistant, .section-quick-look .compare-column .icon-quick-look-series-9-water-resistant {
        background-image: url(../image/quicklook_water_resistant__emuwsb2150gi_large_2x.png)
    }
}

.section-quick-look .compare-column .icon-quick-look-ultra-2-water-resistant {
    width: 169px;
    height: 112px;
    background-size: 169px 112px;
    background-repeat: no-repeat;
    background-image: url(../image/quicklook_water_resistant_100m__cgiakfal4tau_large.png);
    position: relative;
    left: 50%;
    margin-left: -89.5px
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and(-webkit-min-device-pixel-ratio: 1.5), only screen and(min-resolution: 1.5dppx) {
    .section-quick-look .compare-column .icon-quick-look-ultra-2-water-resistant {
        background-image: url(../image/quicklook_water_resistant_100m__cgiakfal4tau_large_2x.png)
    }
}
/* quick end */