.page-subpage .section-router .router-image {
    background-image: url("../image/apple_products__cumvn0vng9oy_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .page-subpage .section-router .router-image {
        background-image: url("../image/apple_products__cumvn0vng9oy_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .page-subpage .section-router .router-image {
        background-image: url("../image/apple_products__cumvn0vng9oy_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .page-subpage .section-router .router-image {
        background-image: url("../image/apple_products__cumvn0vng9oy_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
    .page-subpage .section-router .router-image {
        background-image: url("../image/apple_products__cumvn0vng9oy_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .page-subpage .section-router .router-image {
        background-image: url("../image/apple_products__cumvn0vng9oy_small_2x.png")
    }
}
@media only screen and (max-width: 734px) {
    .section-hero .hero-headline {
        margin-bottom:.8em;
        max-width:100%;
    }
}